.case-link__wrapper {
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-block: clamp(20px, 2vw, 40px);
    border-bottom: 1px solid #d9d9d9;

}

.case-link {
    color: var(--main-font);
    text-decoration: underline;
}
.case-link:active {
    color: var(--contrast-color);
}

@media (hover:hover) {
    .case-link:hover {
        color: var(--contrast-color);
    }
    
}




.case-tags__wrapper {
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-block: clamp(20px, 2vw, 40px);
    border-bottom: 1px solid #d9d9d9;

}

.case-tags__content { 
    display: flex;
    gap: clamp(25px, 2.5vw, 40px);
    align-items: center;
}

.case-tag {
    color: var(--contrast-color);
}









.case-budget__wrapper {
    padding-block: clamp(20px, 2vw, 40px);
    border-bottom: 1px solid #d9d9d9;


}


.case-budget__content {
    display: block;
    width: fit-content; 
}


.case-budget__content__title {
    color: var(--contrast-color);
}

.case-budget__content__text {
    font-family: "Manrope";
    font-weight: 500;
    font-size: clamp(12px, 2.2vw, 24px);
    line-height: 110%;
    color: var(--main-font);
    text-align: end;
}






















.case-release__wrapper {
    padding-block: 80px;
    border-bottom: 1px solid #d9d9d9;
}



.case-release__deadline {
    display: flex;
    align-items: end;
    gap: 35px;
}

.case-release__block {
    font-family: "Manrope";
    font-weight: 500;
    font-size: clamp(16px, 2.2vw, 28px);
    line-height: 110%;
    color: var(--main-font);
}

.case-release__block::first-letter {
    color: var(--contrast-color);
    font-family: "Geologica", sans-serif;
    font-size: clamp(30px, 4vw, 72px);
    font-weight: 400;
    line-height: 1.1;
    text-transform: uppercase;
}









.case-done__list{
    color: var(--main-font);
    font-family: "Manrope", sans-serif;
    font-size: clamp(16px, 2vw, 24px);
    font-weight: 500;
    line-height: 110%;

	list-style-type: none; 
	counter-reset: num;
	margin: 0 0 0 35px !important;
	padding: 15px 0 5px 0 !important;


    li {
        position: relative;	
        margin: 0 0 15px 0;
        padding: 0 0 10px 15px;


    

        padding-block: clamp(15px, 2vw, 25px);

    }

    li:before {
        content: '0' counter(num) ' '; 
        counter-increment: num;
        display: block;	
        position: absolute;
        top: 0px;
        left: -26px;
        width: 25px;    
        color: var(--contrast-color);


        padding-block: clamp(15px, 2vw, 25px);

    }
}


